.grey-line{
    background-color: #f5f5f5;
    padding: 8px 0;
}

.main-nav .nav>li>a {
    padding: 15px 20px;;
}

.main-logo {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.main-logo img {
    height: 100px;
}


.main-logo h1 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    font-size: 24px;
    text-transform: uppercase;
}

.block-adv{
    background-image: url(../images/irochka.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 50px 0;
    margin: 40px 0;
}

.block-adv h2{
    margin-bottom: 30px;
}

.block-adv ul{
    margin: 50px 0;    
}

.block-adv ul li {
    margin: 2% 0;
    font-size: 20px; 
}

/*======================service-card=========================*/
.service-card{
    border: 1px solid #ececec;
    margin-bottom: 30px;    
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.service-card img{
    max-width: 100%;
}

.service-card h2 {
    text-align: center;
    margin: 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid red;
}

.service-card .description{
    padding: 20px;
}