html 
    include head
    body
        div.wrapper 
            include header-nav
            div(class="main")
                div(class="container")                          
                    div(class="row")                    
                        div(class="col-lg-12")                        
                            div(class="block-about")
                                article
                                    h3(class="text-center") Приветствую Вас на моем сайте!
                                    .about-img    
                                        img.vingeit(src="images/vingeit.jpg")                        
                                    .about-text  
                                        h4 А вы умеете открывать "новые двери"?
                                        p 
                                        |Раз Вы зашли в рубрику «Обо мне», давайте знакомиться!
                                        |*Меня зовут Ирина Егунова.
                                        |*Родилась 03 мая 1976 года.
                                        |*Я живу в Израиле с 2015 года, репатриировалась из Украины.
                                        |*Более 15 лет занимаюсь натуропатией и методиками восстановления и укрепления здоровья. А так же остеопатия, лечебный массаж, рефлексология, аккупунктура, осваиваю прикладную кинезиологию.
                                        |*У меня прекрасная семья, любимый муж и двое сыновей.

                                        p
                                        |в 2015году, передо мной встал выбор. И я решилась. Открыла "дверь" в новую страну, переехав жить в Израиль. 
                                        |Новая страна, новый язык, 100% обнуление. За спиной был 12 летний опыт в натуропатии, в здоровье сбережении, в ведении собственного бизнеса. 
                                        |А здесь начинать нужно сначала. И каждый раз открывать "новые двери." И я открывала дверь за дверью. 
                                        |Подтвердила дипломы, приобрела новые знания, техники, методики, как быть еще эффективнее. Открыла свой кабинет Smart clinic. 
                                        |Остеопатия, лечебный массаж, и натуропатия (коррекция питания натуральными нутриентами, очистка организма) для всех, кто решил получить результаты 
                                        |за короткое время! Заканчиваю курс в Международном институте спорта Вингейт на факультете альтернативной медицины Лечебные техники в остеопатии и массаже. 
                                        |Работаю в реабилитационном центре в Ашдоде в отделении физиотерапии.


                                        p
                                        |Много лет назад в моей жизни появились учителя открывшие мне мир Концепции здоровья. 
                                        |Они научили меня постановке целей и движению к ним. Помогли разобраться с рядом проблем по здоровью у меня и моих близких. 
                                        |Эффективные простые методы и системные действия, инвестирование в свое завтра. Это был правильный выбор! 
                                        |Путь, двигаясь по которому получаешь все больше удовольствия, самореализации и ощущений, что находишься на своём месте и занимаешься любимым делом. 
                                        |Для нас ценно быть полезными людям. Освобождать людей от тех проблем, которые мешают жить полноценной жизнью. Мы не даем советов и не ставим диагнозов. 
                                        |Просто показываем путь на собственном примере, как сохранять здоровье и молодость, энергию и активное долголетие, как умножать время и деньги. 
                                        |Мы предлагаем каждому человеку превратить мечту о жизни в жизнь своей мечты!


                                        p
                                        |Кстати, пришла я к этому путём решения собственных проблем со здоровьем в моей семье. У меня болел старший сын. 
                                        |С рождения  страдал проблемами с сердцем, пищеварением, и слабым иммунитетом. Ежемесячный прием антибиотиков, жаропонижающих, 
                                        |противовоспалительных, усиливали  интоксикацию. Я искала здоровье без лекарств. И простые шаги Концепции здоровья, за два месяца вывели 
                                        |нас на путь восстановления, а не снятия симптомов.  Хождение  по больницам, изрядно потрепали мой семейный бюджет, поэтому я  воспользовалась 
                                        |еще и возможностями дополнительного дохода. Позже это стало моей профессией.Ко мне стали присоединяться, люди со схожими целями и ценностями - так выросла 
                                        |моя команда! Мы ценим здоровье и готовы инвестировать в него  время и деньги. Нам нравиться  помогать людям становиться здоровее, а  бизнес партнерам 
                                        |преодолевать ограничения и стереотипы становиться успешнее,  обучаясь у практиков. И с каждым днем нас становиться все больше! Присоединяйтесь!
            include footer                            