.footer
    .container
        .row
            .col-4
            .col-4
                .social-icons
                    p 
                        |Мои контакты
                    ul.footer-list
                        li.footer-list-item
                            a(href="https://www.facebook.com/smartclinicyegunova" target="_blank") 
                                img(src="images/social-icons/facebook.svg")
                        li.footer-list-item
                            a(href="https://m.me/smartclinicyegunova" target="_blank") 
                                img(src="images/social-icons/messenger.svg")
                        li.footer-list-item
                            a(href="#" target="_blank") 
                                img(src="images/social-icons/skype.svg")
                        li.footer-list-item
                            a(href="#" target="_blank") 
                                img(src="images/social-icons/vk.svg")
                        li.footer-list-item
                            a(href="#" target="_blank") 
                                img(src="images/social-icons/whatsapp.svg")
            .col-4
    
            