div.container
    div.row
        div.col-lg-12
header.site-header
    div.container
        div.row
            div.col-lg-12
                div.main-logo                    
                    .img-logo
                        img(src="images/logo.png")
                    .name-logo
                        h1 Smart Clinic Irina Yegunova
            div.col-lg-12
                div.navigate
                    nav.main-nav.text-right
                        ul.nav.nav-tabs.justify-content-center
                            li.nav-item
                                a.nav-link(href='/') Main
                            li.nav-item
                                a.nav-link(href='/about') About me
                            li.nav-item
                                    a.nav-link(href='/massage') Massage                                    
                            li.nav-item                                        
                                    a.nav-link(href='/naturopatia') Naturopatia
                            li.nav-item
                                a.nav-link(href='#') Contacts   
                
            