html
    include head
    body
        div.wrapper           
            include header-nav        
            div.main
                div.container                          
                    div.row                    
                        div.col-lg-6
                            div.img-main
                                img(src="images/irochka-2.jpg")                        
                        div.col-lg-6                       
                            div.block-main
                                h2 Лечебный массаж в Ашкелоне
                                ul
                                    li Натуропатия
                                    li Остеопатия
                                    li Концепция здоровья
                        div.col-lg-12
                            .slider
                                div.slider__item
                                    img(src="images/slider/accupunctura.jpg" alt="accupunctura")
                                div.slider__item
                                    img(src="images/slider/aromatherapy.jpg" alt="")
                                div.slider__item
                                    img(src="images/slider/massotherapy.jpg" alt="massotherapy") 
                                div.slider__item
                                    img(src="images/slider/naturopatia.jpg" alt="naturopatia")
                                div.slider__item
                                    img(src="images/slider/reflexology.jpg" alt="reflexology")                                
                                div.slider__item
                                    img(src="images/slider/swedish_massage.jpg" alt="swedish_massage")
                                div.slider__item
                                    img(src="images/slider/massage_israel.jpg" alt="massage_israel")  
                                div.slider__item
                                    img(src="images/slider/kinesiology_4.jpg" alt="kinesiology_4")
                                div.slider__item
                                    img(src="images/slider/new_osteopaty_eng.jpg" alt="new_osteopaty_eng")
                                div.slider__item
                                    img(src="images/slider/oldslavicmass.jpg" alt="oldslavicmass")                              
                        
            include footer                            
                                    
                       
                        