html 
    include head
    body
        div.wrapper 
            include header-nav
            div.massage
                div.container                                   
                    div.row                  
                        div.col-lg-12                       
                            div.block-massage
                                article
                                    h3(class="text-center") Массаж
                                    .massage-img    
                                        img.massage(src="images/massage.jpg")                        
                                    p  
                                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officia soluta corporis saepe aut deserunt dicta doloribus voluptatibus numquam maxime repellat exercitationem totam dolores quod sapiente fugiat rem itaque quasi, odit tempore? Perferendis sunt dicta facere! Perspiciatis illum dolore harum error nostrum consectetur impedit, dignissimos explicabo mollitia sunt totam eos?
            include footer