html 
    include head
    body
        div.wrapper 
            include header-nav
            div.naturopatia
                div.container                          
                    div.row                  
                        div.col-lg-12
                            div.block-massage
                                article
                                    h3.text-center Натуропатия
                                    .naturopatia-img   
                                        img.massage(src="images/floral-medicine.jpg")
            include footer   